
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap');
  *{
    font-family: 'Work Sans', sans-serif;
  }

header{
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    

}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-title{
    color: #0B0223;
    font-size: 2rem;
    font-weight: 700;
}
.nav-item{
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
}
.gamer{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.nav-img img{
    width: 60px;
    height: 40px;
}
.nav ul{
    display: flex;
    gap: 1.2rem;
}
.nav li{
    list-style: none;
}
/* .follow{
    text-align: center;
    padding-left: 20px;
    margin-top: -5px;
    align-items: center;
    width: 200px;
    height: 30px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
} */
.btn-primary{
    border: none;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 21px 40px;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 10px;
}
.btn-primary-two{
    background: #4EC5F7;
    border: none;
    border-radius: 48px;
    padding: 21px 40px;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
}
.banner-container{
    border: 2px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
.banner-content{
    width: 50%;
    background: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}
}
.banner-title{
    color: #0B0223;
    font-size:2rem;
    font-weight: 600;
} 
.banner-img{
    width: 50%;
}
 .banner-title-two{
    font-size: 3rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-description{
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
}
footer{
    background: #0B0223;
    padding: 70px;
    margin-top: 50px;
}
.footer-title{
    color: white;
    font-size: 2rem;
    font-weight: 700;
}
.footer-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.story-item{
    display: flex;
    justify-content: center;
    gap: 50px;
    color: #FFF;
    font-size: 0.9rem;
    font-weight: 600;
}
.story-item li{
list-style: none;
}
.icon{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.terms{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 60px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 0.8rem;
    font-weight: 500;
}
.copyright{
    color: rgba(255, 255, 255, 0.60);
    font-size: 0.8rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}